.login{
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    background:  #92A8D1;
    border-color:rgba(0, 0, 0, 0.3) ;
    box-shadow: 0 2px 4px rgb(0 0 0/10%),0 8px 16px rgb(0 0 0 /10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.logtxt{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: underline;
}

.login > input{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0.75rem;
    width: 90%;
    font-size: 1rem;
}



.login>.button {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, pink 50%, cyan 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #000;
    border: 2px solid cyan;
    padding: 10px 20px;
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    transition: background-position 0.5s ease, color 0.5s ease;
}
.or{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.login>.button:hover {
    font-family: 'Times New Roman', Times, serif;
    background-position: left bottom;
    color: black;
}